@page "/{LastPage:int}/topic/{TopicId:int}"
@using Microsoft.AspNetCore.Components.Authorization
@inject ITopicService TopicService
@inject IAuthenticationService AuthService
@inject IJwtService JwtService
@inject IUpvoteService UpvoteService
@inject ICommentService CommentService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<PageTitle>Topic Details</PageTitle>

@if (Topic != null)
{
    <div class="topic">
        <button class="go-back" @onclick="GoBack">
            <span class="arrow">&#8592;</span> <!-- Unicode left arrow -->
            Go Back
        </button>
        @if (editTopicBodies.ContainsKey(Topic.Id))
        {
            <div class="edit-topic">
                <textarea class="edit-title" @bind="editTopicTitles[Topic.Id]"></textarea>
                <textarea class="edit-body" @bind="editTopicBodies[Topic.Id]"></textarea>
                <div class="edit-buttons">
                    <button class="btn-submit" @onclick="() => SubmitEditTopic(Topic.Id)">Submit</button>
                    <button class="btn-cancel" @onclick="() => CancelEditTopic(Topic.Id)">Cancel</button>
                </div>
            </div>
        }
        else
        {
            <TopicInfo Topic="Topic" />
            <TopicButtons Topic="Topic"
                          NavigateToLogin="NavigateToLogin" OnDeleteTopic="ConfirmDeleteTopic" OnToggleEditTopic="EditTopic"
                          OnUpVote="UpVote" OnDownVote="DownVote" UserId="userId" InDetailedView="false" />
        }


        @if (showAddComment.Contains(TopicId))
        {
            @if (Topic.Status == Status.Active)
            {
                <AuthorizeView>
                    <Authorized>
                        <div class="add-comment">
                            <label>Add Comment</label>
                            <textarea @bind="commentBodies[TopicId]"></textarea>
                            <button @onclick="() => SubmitComment(TopicId)">Submit</button>
                        </div>
                    </Authorized>
                </AuthorizeView>
            }
        }

        <div class="comments">
            @if (Topic.Comments.Any())
            {
                @foreach (var comment in Topic.Comments.OrderByDescending(c => c.Created))
                {
                    <div class="comment">
                        <div class="comment-header">
                            <div class="author-info">
                                @if (comment.Type == CommentType.Comment)
                                {
                                    <span class="posted-by">Commented by @comment.Username</span>
                                }
                                else
                                {
                                    <span class="posted-by">Replied by @comment.Username to @GetUsernameFromComments(comment.ParentCommentId)</span>
                                    <div class="replied-comment">
                                        <p>@Topic.Comments.First(c => c.Id == comment.ParentCommentId).Body</p>
                                    </div>
                                }
                                <span class="posted-date">@comment.Created.ToString("dd-MM-yyyy HH:mm")</span>
                            </div>
                        </div>

                        @if (editCommentBodies.ContainsKey(comment.Id))
                        {
                            <textarea @bind="editCommentBodies[comment.Id]"></textarea>
                            <div class="comment-buttons">
                                <button class="submit" @onclick="() => SubmitEditComment(comment.Id)">Submit</button>
                                <button class="cancel" @onclick="() => CancelEdit(comment.Id)">Cancel</button>
                            </div>
                        }
                        else
                        {
                            <p>@comment.Body</p>
                            @if (Topic.Status == Status.Active)
                            {
                                <AuthorizeView>
                                    <Authorized>
                                        <div class="comment-footer">
                                            <button class="reply" @onclick="() => ToggleAddReply(comment.Id)">Reply</button>
                                            @if (userId == comment.UserId)
                                            {
                                                <button class="edit" @onclick="() => EditComment(comment)">Edit</button>
                                                <button class="delete" @onclick="() => ConfirmDeleteComment(comment.Id)">Delete</button>
                                            }
                                        </div>
                                    </Authorized>
                                </AuthorizeView>
                            }
                        }
                    </div>

                    @if (showAddReply.Contains(comment.Id))
                    {
                        @if (Topic.Status == Status.Active)
                        {
                            <AuthorizeView>
                                <Authorized>
                                    <div class="add-reply">
                                        <label>Reply Comment</label>
                                        <textarea @bind="replyBodies[comment.Id]"></textarea>
                                        <button @onclick="() => SubmitReply(comment.Id, TopicId)">Submit</button>
                                    </div>
                                </Authorized>
                            </AuthorizeView>
                        }
                    }
                }
            }
            else if (errorMessage != null)
            {
                <p>@errorMessage</p>
            }
            else
            {
                <p>No comments yet.</p>
            }
        </div>

    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter] public int LastPage { get; set; }
    [Parameter] public int TopicId { get; set; }

    private TopicWithContentResult? Topic;
    private HashSet<int> showAddReply = new HashSet<int>();
    private HashSet<int> showAddComment = new HashSet<int>();
    private Dictionary<int, string> commentBodies = new Dictionary<int, string>();
    private Dictionary<int, string> replyBodies = new Dictionary<int, string>();
    private Dictionary<int, string> editCommentBodies = new Dictionary<int, string>();
    private Dictionary<int, string> editTopicTitles = new Dictionary<int, string>();
    private Dictionary<int, string> editTopicBodies = new Dictionary<int, string>();
    private string? errorMessage;
    private bool isAuthenticated;
    private int? userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthService.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity.IsAuthenticated;
        userId = isAuthenticated ? JwtService.GetIdFromClaims(authState.User.Claims) : (int?)null;

        showAddComment.Add(TopicId);
        commentBodies[TopicId] = string.Empty;

        await LoadTopicDetails();
    }

    private string GetUsernameFromComments(int? id)
    {
        if (id == null)
            return "";
        return Topic.Comments.Where(c => c.Id == id).Select(c => c.Username).First();
    }

    private async Task LoadTopicDetails()
    {
        var response = await TopicService.GetTopicById(TopicId);
        if (response.IsSuccess)
        {
            Topic = response.Result;
        }
        else
        {
            errorMessage = response.Message;
        }
    }

    private void ToggleAddReply(int parentCommentId)
    {
        if (showAddReply.Contains(parentCommentId))
        {
            showAddReply.Remove(parentCommentId);
        }
        else
        {
            showAddReply.Add(parentCommentId);
            if (!replyBodies.ContainsKey(parentCommentId))
            {
                replyBodies[parentCommentId] = string.Empty;
            }
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/{LastPage}");
    }
    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private async Task SubmitComment(int topicId)
    {
        if (commentBodies.TryGetValue(topicId, out var commentBody) && !string.IsNullOrWhiteSpace(commentBody))
        {
            var createCommentDto = new AddCommentModelDto(null, topicId, commentBody);
            var result = await CommentService.AddComment(createCommentDto);
            if (result.IsSuccess)
            {
                await LoadTopicDetails();
                commentBodies[topicId] = string.Empty;
            }
            else
            {
                await LoadTopicDetails();
            }
        }
    }

    private async Task SubmitReply(int parentCommentId, int topicId)
    {
        if (replyBodies.TryGetValue(parentCommentId, out var commentBody) && !string.IsNullOrWhiteSpace(commentBody))
        {
            var createCommentDto = new AddCommentModelDto(parentCommentId, topicId, commentBody);
            var result = await CommentService.AddReply(createCommentDto);
            if (result.IsSuccess)
            {
                await LoadTopicDetails();
                replyBodies[parentCommentId] = string.Empty;
                showAddReply.Remove(parentCommentId);
            }
            else
            {
                await LoadTopicDetails();
            }
        }
    }

    private void EditComment(CommentResult comment)
    {
        editCommentBodies[comment.Id] = comment.Body;
    }

    private void CancelEdit(int commentId)
    {
        editCommentBodies.Remove(commentId);
    }

    private async Task SubmitEditComment(int commentId)
    {
        if (editCommentBodies.TryGetValue(commentId, out var editedBody) && !string.IsNullOrWhiteSpace(editedBody))
        {
            var result = await CommentService.EditComment(commentId, new UpdateCommentModelDto(editedBody));
            if (result.IsSuccess)
            {
                editCommentBodies.Remove(commentId);
                await LoadTopicDetails();
            }
            else
            {
                await LoadTopicDetails();
            }
        }
    }
    private async Task EditTopic(UpdateTopicModelDto updateTopicModelDto)
    {
        editTopicTitles[updateTopicModelDto.id] = updateTopicModelDto.Title;
        editTopicBodies[updateTopicModelDto.id] = updateTopicModelDto.body;
    }

    private async Task CancelEditTopic(int topicId)
    {
        editTopicBodies.Remove(topicId);
    }

    private async Task SubmitEditTopic(int topicId)
    {
        if (editTopicTitles.TryGetValue(topicId, out var editedTitle) && !string.IsNullOrEmpty(editedTitle) && editTopicBodies.TryGetValue(topicId, out var editedBody) && !string.IsNullOrEmpty(editedBody))
        {
            var result = await TopicService.EditTopic(new UpdateTopicModelDto(topicId, editedTitle, editedBody));
            if (result.IsSuccess)
            {
                editTopicBodies.Remove(topicId);
                await LoadTopicDetails();
            }
            else
            {
                errorMessage = result.Message;
            }
        }
    }

    private async Task ConfirmDeleteComment(int commentId)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this comment?");
        if (confirmed)
        {
            await DeleteComment(commentId);
        }
    }

    private async Task DeleteComment(int commentId)
    {
        var result = await CommentService.DeleteComment(commentId);
        await LoadTopicDetails();
    }

    private async Task ConfirmDeleteTopic(int commentId)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this Topic?");
        if (confirmed)
        {
            await DeleteTopic(commentId);
        }
    }

    private async Task DeleteTopic(int topicId)
    {
        var result = await TopicService.DeleteTopic(topicId);
        if (result.IsSuccess)
        {
            GoBack();
        }
        else
        {
            errorMessage = result.Message;
        }
    }
    private async Task UpVote(int topicId)
    {
        var result = await UpvoteService.Upvote(topicId);
        if (result.IsSuccess)
        {
            await LoadTopicDetails();
        }
        else
        {
            errorMessage = result.Message;
        }
    }
    private async Task DownVote(int topicId)
    {
        var result = await UpvoteService.DownVote(topicId);
        if (result.IsSuccess)
        {
            await LoadTopicDetails();
        }
        else
        {
            errorMessage = result.Message;
        }
    }
}

@* @page "/{LastPage:int}/topic/{TopicId:int}"
@using Microsoft.AspNetCore.Components.Authorization
@inject ITopicService TopicService
@inject IAuthenticationService AuthService
@inject IJwtService JwtService
@inject ICommentService CommentService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<PageTitle>Topic Details</PageTitle>

@if (Topic != null)
{
    <div class="topic">
        <button class="go-back" @onclick="GoBack">
            <span class="arrow">&#8592;</span> <!-- Unicode left arrow -->
            Go Back
        </button>

        <TopicInfo Topic="Topic" />

        @if (showAddComment.Contains(TopicId))
        {
            @if (Topic.Status == Status.Active)
            {
                <AuthorizeView>
                    <Authorized>
                        <div class="add-comment">
                            <label>Add Comment</label>
                            <textarea @bind="commentBodies[TopicId]"> Add Comment</textarea>
                            <button @onclick="() => SubmitComment(TopicId)">Submit</button>
                        </div>
                    </Authorized>
                </AuthorizeView>
            }
        }


        <div class="comments">
            @if (Topic.Comments.Any())
            {
                @foreach (var comment in Topic.Comments)
                {

                    <div class="comment">
                        <div class="comment-header">
                            <div class="author-info">
                                @if(comment.Type == CommentType.Comment)
                                {
                                    <span class="posted-by">
                                        Commented by @Topic.AuthorFullName
                                    </span>
                                    <span class="username">~ @Topic.Username</span>
                                }
                                else
                                {
                                    <span class="posted-by">
                                        Replied by @Topic.Username to @GetUsernameFromComments(comment.ParentCommentId)
                                    </span>
                                }

                                <span class="posted-date">@Topic.Created.ToString("dd-MM-yyyy")</span>
                            </div>
                        </div>
                        @if (editCommentBodies.ContainsKey(comment.Id))
                        {
                            <textarea @bind="editCommentBodies[comment.Id]"></textarea>
                            <div class="comment-buttons">
                                <button class="submit" @onclick="() => SubmitEditComment(comment.Id)">Submit</button>
                                <button class="cancel" @onclick="() => CancelEdit(comment.Id)">Cancel</button>
                            </div>
                        }
                        else
                        {
                            <p>@comment.Body</p>
                            @if (Topic.Status == Status.Active)
                            {
                                <AuthorizeView>
                                    <Authorized>
                                        @if (userId == comment.UserId)
                                        {
                                            <div class="comment-footer">
                                                <button class="edit" @onclick="() => ToggleAddReply(comment.Id)">Reply</button>
                                                <button class="edit" @onclick="() => EditComment(comment)">Edit</button>
                                                <button class="delete" @onclick="() => ConfirmDeleteComment(comment.Id)">Delete</button>
                                            </div>
                                        }
                                    </Authorized>
                                </AuthorizeView>
                            }
                        }
                    </div>
                    @if (showAddreply.Contains(comment.Id))
                    {
                        @if (Topic.Status == Status.Active)
                        {
                            <AuthorizeView>
                                <Authorized>
                                    <div class="edit-comment">
                                        <label>Reply Comment</label>
                                        <textarea @bind="replyBodies[comment.Id]"> Add Comment</textarea>
                                        <button @onclick="() => SubmitReply(comment.Id,TopicId)">Submit</button>
                                    </div>
                                </Authorized>
                            </AuthorizeView>
                        }
                    }
                    
                }
            }
            else
            {
                <p>No comments yet.</p>
            }
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter] public int LastPage { get; set; }
    [Parameter] public int TopicId { get; set; }

    private TopicWithContentResult? Topic;
    private HashSet<int> showAddreply = new HashSet<int>();
    private HashSet<int> showAddComment = new HashSet<int>();
    private Dictionary<int, string> commentBodies = new Dictionary<int, string>();
    private Dictionary<int, string> replyBodies = new Dictionary<int, string>();
    private Dictionary<int, string> editCommentBodies = new Dictionary<int, string>();
    private string? errorMessage;
    private bool isAuthenticated;
    private int? userId;

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthService.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity.IsAuthenticated;
        if (isAuthenticated)
            userId = JwtService.GetIdFromClaims(authState.User.Claims);
        else
            userId = null;


        showAddComment.Add(TopicId);
        commentBodies[TopicId] = string.Empty;

        await LoadTopicDetails();

    }


    private string GetUsernameFromComments(int? id)
    {
        if (id == null)
            return "";
        return Topic.Comments.Where(c => c.Id == id).Select(c => c.Username).First();
    }

    private async Task LoadTopicDetails()
    {
        var response = await TopicService.GetTopicById(TopicId);
        if (response.IsSuccess)
        {
            Topic = response.Result;
        }
        else
        {
            errorMessage = response.Message;
        }
    }

    private void ToggleAddReply(int parentCommentId)
    {
        if (showAddreply.Contains(parentCommentId))
        {
            showAddreply.Remove(parentCommentId);
        }
        else
        {
            showAddreply.Add(parentCommentId);
            if (!replyBodies.ContainsKey(parentCommentId))
            {
                replyBodies[parentCommentId] = string.Empty;
            }
        }
        Console.WriteLine("");
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }
    private void GoBack()
    {
        Navigation.NavigateTo($"/{LastPage}");
    }

    private async Task SubmitComment(int topicId)
    {
        if (commentBodies.TryGetValue(topicId, out var commentBody) && !string.IsNullOrWhiteSpace(commentBody))
        {
            var createCommentDto = new AddCommentModelDto(null,topicId, commentBody);
            var result = await CommentService.AddComment(createCommentDto);
            if (result.IsSuccess)
            {
                await LoadTopicDetails();
                commentBodies[topicId] = string.Empty;
                //showAddComment.Remove(topicId);
            }
            else
            {
                errorMessage = result.Message;
            }
        }
    }

    private async Task SubmitReply(int parrentCommentId,int topicId)
    {
        if (replyBodies.TryGetValue(parrentCommentId, out var commentBody) && !string.IsNullOrWhiteSpace(commentBody))
        {
            var createCommentDto = new AddCommentModelDto(parrentCommentId, topicId, commentBody);
            var result = await CommentService.AddReply(createCommentDto);
            if (result.IsSuccess)
            {
                await LoadTopicDetails();
                replyBodies[parrentCommentId] = string.Empty;
                showAddreply.Remove(parrentCommentId);
            }
            else
            {
                errorMessage = result.Message;
            }
        }
    }
    private void ReplyComment(int commentid)
    {
        replyBodies[commentid] = string.Empty;
        Console.WriteLine("");
    }

    private void EditComment(CommentResult comment)
    {
        editCommentBodies[comment.Id] = comment.Body;
    }

    private async Task CancelEdit(int commentId)
    {
        editCommentBodies.Remove(commentId);
    }

    private async Task SubmitEditComment(int commentId)
    {
        if (editCommentBodies.TryGetValue(commentId, out var editedBody) && !string.IsNullOrWhiteSpace(editedBody))
        {
            var result = await CommentService.EditComment(commentId, new UpdateCommentModelDto(editedBody));
            if (result.IsSuccess)
            {
                editCommentBodies.Remove(commentId);
                await LoadTopicDetails();
            }
            else
            {
                errorMessage = result.Message;
            }
        }
    }

    private async Task ConfirmDeleteComment(int commentId)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this comment?");
        if (confirmed)
        {
            await DeleteComment(commentId);
        }
    }

    private async Task DeleteComment(int commentId)
    {
        var result = await CommentService.DeleteComment(commentId);
        if (result.IsSuccess)
        {
            await LoadTopicDetails();
        }
        else
        {
            errorMessage = result.Message;
        }
    }
}
 *@