@using Microsoft.AspNetCore.Components.Authorization

<div class="topic">
    <div class="topic-header">
        <h2>@Topic.Title</h2>
        <span class="topic-status">@Topic.Status</span>
    </div>
    <p>@Topic.Body</p>
    <div class="topic-footer">
        <div class="author-info">
            <span class="posted-by">Posted by @Topic.AuthorFullName</span>
            <span class="username">~ @Topic.Username</span>
            <span class="posted-date">@Topic.Created.ToString("dd-MM-yyyy")</span>
        </div>
    </div>
</div>

@code {
    [Parameter] public TopicWithContentResult Topic { get; set; }
}
